
body {
    font-family: 'Unna', serif;
    color: gold;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    margin: 0;
    height: 100%;
}

#landing-page {
    display: flex;
    position: absolute;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #33344F;
    font-family: montserrat, sans-serif;
    color: white;
    transition: opacity 0.5s;
    z-index: 2000;
}

.landing-page-header {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.landing-page-text {
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.dropdown {
    height: 30px;
    width: 200px;
    background: slategrey;
    color: white;
    margin: 10px;
    font-family: inherit;
}

.game-desc {
    margin: 20px;
}

.game-mode-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.game-mode-text {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

#choice1, #choice2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.submit {
    font-family: inherit;
    background-color: #5B5C92;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: 500;
    color: white;
    pointer-events: none;
    transition: opacity 0.5s
}

#canvas {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: rgb(60, 78, 30);
    width: 100%;
    padding-top: 5vh;
    height: 100vh;
}

#board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 495px;
    min-width: 1300px;
    max-width: 1300px;
    border: 2px solid gold;
    border-radius: 25px;
}

.row {
    min-width: 1300px;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
}

#row1 {
    max-height: 180px;
    min-height: 180px;
    padding: 0;
    margin: 0;
}

.column-square {
    text-align: center;
    border-right: 2px solid gold;
    box-sizing: border-box;
}

.square-header {
    max-height: 25%;
    min-height: 25%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid gold;
    box-sizing: border-box;
}

.square-1-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    line-height: 22px;
    box-sizing: border-box;
    border-radius: 23px 0 0 0;
}

#square-2-container {
    display: flex;
    flex-direction: column;
    flex: 2.5;
}

#square-3-container {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

#square-4-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}   

#square-5-container {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

#square-6-container {
    display: flex;
    flex-direction: column;
    flex: 2.5;
}

.square-7-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    line-height: 22px;
    border-radius: 0 23px 0 0;
}

.doubles-container {
    width: 100%;
    display: flex;
    min-height: 75%;
    max-height: 75%;
    padding: 0;
}

.doubles {
    width: 33.33%;
    display: flex;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.doubles-dice {
    min-height: 48px;
    max-height: 48px;
    width: auto;
}

.triples-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.triples {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.triples-dice {
    max-width: 30%;
    max-height: 75%
}

.any-triple-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.any-triple-subheader {
    height: 40%;
    max-height: 40%;
    width: 100%;
    line-height: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.any-triple-dice-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    max-height: 60%;
    padding-bottom: 3px;
}

.any-triple-dice-subcontainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

.any-triple-diceset-container {
    display: flex;
    flex-direction: row;    
    flex: 1;
    width: 100%;
    align-items: center; 
    justify-content: center;
}

.any-triples-dice {
    max-width: 20%;
    max-height: auto;
}

#row2 {
    max-height: 90px;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    border-top: 2px solid gold;
    box-sizing: border-box;
}

.sums-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-right: 2px solid gold;
    box-sizing: border-box;
}

.sums-square-header {
    max-height: 65%; 
    line-height: 70px; 
    font-size: 60px; 
    font-weight: bold;
}

.sums-square-text {
    min-height: 30%;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#row3 {
    min-height: 120px;
    max-height:120px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-top: 2px solid gold;
}

.row-header {
    flex: 3.05 1 0;
    display: flex;
    flex-direction: row;
    border-right: 2px solid gold;
    box-sizing: border-box;
}

.row-header-text {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#arrow-container {
    width: 30%; 
    display: flex;
    align-items: center;
    justify-content: center;;
}

#arrow {
    border-top:40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 30px solid white; 
    width: 0;
    height: 0;
    margin-right: 30px;
}   

.two-dice {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 2px solid gold;
    box-sizing: border-box;
}

#row4 {
    min-height: 70px;
    max-height: 70px;
    display: flex;
    border-top: 2px solid gold;
    box-sizing: border-box;
}

.singles {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid gold;
    flex: 1 1 0;
    box-sizing: border-box;
}

.singles-dice {
    height: 80%;
    width: auto;
}

.singles-header {
    font-size: 28px;
    font-weight: bold;
}

#row5 {
    min-height: 35px;
    max-height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid gold;
    box-sizing: border-box;
}

.singles-desc {
    display: flex;
    border-right: 2px solid gold;
    box-sizing: border-box;
    flex: 1;
    line-height: 35px;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.player-container {
    display: flex; 
    justify-content: center;
    margin-top: 20px;
    max-width: 100%;
    min-width: 33.33;
    border: 2px solid white;
    border-radius: 25px;
}

.player-board {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 433px;
    border-right: 2px solid white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.player-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-bottom: 2px solid white; 
    width: 100%;
}

.player-text {
    color: gold;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bank-bet-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex: 4;
    width: 100%;
}

.bank-bet {
    display: flex; 
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
}

.bank-bet span {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
}

.subheader-text {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.subheader-value {
    margin-bottom: 15px;
    font-size: 30px;
}

.button-container {
    height: 100%;
    flex: 2;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.clear-done {
    display: flex;
    flex: 1;
    height: 50%;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.clear {
    font-family: Unna, serif;
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border-color: gold;
    border-style: solid; 
    height: 80%;
    flex: 1;
    margin: 5px;
}

.next {
    font-family: Unna, serif;
    background-color: navy;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border-color: gold;
    border-style: solid; 
    height: 80%;
    flex: 1;
    margin: 5px;
}

.button {
    transition: 0.4s all;
    position: relative;
}

.button:hover {
    background-color: rgba(255,255,255,0.6)
}

.next-button {
    transition: 0.4s all;
}

.next-button:hover {
    background-color: rgba(255,255,255,0.6)
}

.clear-button {
    transition: 0.4s all;
}

.clear-button:hover {
    background-color: rgba(255,255,255,0.6)
}

.chips-container {
    flex: 1;
    height: 50%;
    display: flex;
    flex-flow: row;
}

.chips {
    border-style: none;
    background: transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.blinking-arrow {
    display: flex;
    position: absolute;
    margin-right: 208px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
    animation: blink-arrow 1s linear infinite 
}

@keyframes blink-arrow {
    50%{
        border-left: 8px solid transparent
    }
}

.blink-win {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: rgba(255,255,255,0.6)
    }
}

.disabled {
    pointer-events: none;
}

.disabled-grey {
    pointer-events: none;
    background-color: rgb(217, 217, 217);
    color: rgb(176, 176, 176);
    border-color: rgb(176,176,176)
}

.chip-image {
    display: flex;
    width: 70%;
}

.chips span {
    position: absolute;
    font-family: Scheherazade;
    font-weight: bold;
    font-size: 14px;
    color: rgb(49, 49, 49);
}

.square-chips-container {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.square-chips {
    display: flex;
    position: relative;
    width: max-content;
    justify-content: center;
    align-items: center;
}

.temp-chip {
    position: absolute;
    width: max-content;
}

.temp-chip img{
    width: 28px;
}

.square-chips img {
    width: 28px;
}

.square-chips span {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.dice-roll {
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: -5vh;
    background-color: rgba(20,20,20,0.9);
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events:  none;;
}

.dice-roll-dice {
    width: 200px;
}

.shake {
    animation: shake 1.5s 1
}

@keyframes shake {
    20%{
        transform: rotate(8deg)
    }
    40%{
        transform: rotate(-8deg)
    }
    60%{
        transform: rotate(8deg)
    }
    80%{
        transform: rotate(-8deg)
    }
}

.reverse-shake {
    animation: reverse-shake 1.5s 1
}

@keyframes reverse-shake {
    20%{
        transform: rotate(-8deg)
    }
    40%{
        transform: rotate(8deg)
    }
    60%{
        transform: rotate(-8deg)
    }
    80%{
        transform: rotate(8deg)
    }
}

.dice-roll-text {
    display: flex;
    height: max-content;
    width: 100%;
    margin-top: -400px;
    align-content: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}